<div 
    class="lesli-tabs <%= 'is-vertical' if vertical%>" 
    x-data="{ activeTab: '<%= active_tab || tabs[0].tab_id %>' }">
    <div class="tabs mb-0">
        <ul>
            <% tabs.each_with_index do |tab, index| %>
                <% tab.set_tab_id(tab.tab_id, index) %>
                <li :class="{ 'is-active': activeTab === '<%= tab.tab_id %>' }">
                    <a @click="activeTab = '<%= tab.tab_id %>'" data-turbo="false">
                        <% if tab.icon %>
                            <span class="icon is-small">
                                <span class="material-symbols-outlined">
                                    <%= tab.icon %>
                                </span>
                            </span>
                        <% end %>
                        <span>
                            <%= tab.title %>
                        </span>
                    </a>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="tab-items">
        <% tabs.each_with_index do |tab, index| %>
            <div
                id="<%= tab.tab_id %>"
                class="tab-item"
                x-show="activeTab === '<%= tab.tab_id %>'"
                x-transition
                x-cloak>
                <%= tab %>
            </div>
        <% end %>
    </div>
</div>
