<div class="lesli-table-container table-container">
    <table id="<%= id %>" class="table is-fullwidth lesli-table mb-5 <%= class_name %>">
        <% unless headless %>
            <thead>
                <tr>
                    <% columns.each do |column| %>
                        <th 
                            width="<%= column[:width] %>" 
                            class="<%= table_header_class(column) %>" 
                            data-action="click->table#sort" 
                            data-field="<%= column[:field] %>">
                            <% if column[:sort] %>
                                <span class="icon-text">
                                    <span><%= column[:label] %></span>
                                    <span class="icon">
                                        <span class="material-symbols"><%= column[:field] == @current_sort ? (current_sort_dir(column) == "asc" ? "arrow_upward" : "arrow_downward") : "sort" %></span>
                                    </span>
                                </span>
                            <% else %>
                                <%= column[:label] %>
                            <% end %>
                        </th>
                    <% end %>
                </tr>
            </thead>
        <% end %>
        <tbody>
            <% if records %>
                <% records.each_with_index do |record, i| %>
                    <tr>
                        <% columns.each do |column| %>
                            <td class="<%= table_body_class(column) %>">
                                <% if link %>
                                    <%= link_to(record[column[:field]] || "", link.call(record), class: "link", data: { turbo_frame: '_top' }) %>
                                <% else %>
                                    <%= record[column[:field]] %>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
            <% rows.each do |row| %>
                <%= row %>
            <% end %>
        </tbody>
    </table>
</div>
