<div class="lesli-table-container">
    <table id="<%= id %>" class="table is-fullwidth lesli-table mb-5 <%= class_name %>">
        <% unless headless %>
            <thead>
                <tr>
                    <% if content_for?(:detail) %>
                        <th></th>
                    <% end %>
                    <% columns.each do |column| %>
                        <th 
                            width="<%= column[:width] %>" 
                            class="<%= table_header_class(column) %>" 
                            data-action="click->table#sort" 
                            data-field="<%= column[:field] %>">
                            <% if column[:sort] %>
                            <span class="icon-text">
                                <span><%= render_head_slot(column) %></span>
                                <span class="icon">
                                    <span class="material-icons"><%= column[:field] == @current_sort ? (current_sort_dir(column) == "asc" ? "arrow_upward" : "arrow_downward") : "sort" %></span>
                                </span>
                            </span>
                            <% else %>
                                <%= render_head_slot(column) %>
                            <% end %>
                        </th>
                    <% end %>
                    <% if content_for?(:options) %>
                        <th></th>
                    <% end %>
                    <% if content_for?(:buttons) %>
                        <th></th>
                    <% end %>
                </tr>
            </thead>
        <% end %>
        <tbody>
            <% records.each_with_index do |record, i| %>
                <tr>
                    <% if content_for?(:detail) %>
                        <td class="detail-row px-2 has-text-centered">
                            <button class="button is-white px-2" data-action="click->table#toggleDetails" data-index="<%= i %>">
                                <span class="material-icons"><%= detail_active?(record) ? "expand_more" : "chevron_right" %></span>
                            </button>
                        </td>
                    <% end %>
                    <% columns.each do |column| %>
                        <td class="<%= table_body_class(column) %>" data-action="click->table#selectRow" data-id="<%= record[:id] %>">
                            <% if link && !content_for?(:"#{column[:field]}") %>
                                <%= link_to record[column[:field]], link.call(record), class: "link" %>
                            <% else %>
                                <%= render_slot(column[:field], column: column, record: record, value: record[column[:field]]) do %>
                                    <%= record[column[:field]] %>
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                    <% if content_for?(:options) %>
                        <td class="options p-0">
                            <div class="dropdown is-right is-hoverable">
                                <div class="dropdown-trigger">
                                    <button class="button has-text-info">
                                        <span class="icon">
                                            <span class="material-icons">more_vert</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <%= render_slot(:options, record: record, value: record[:id]) %>
                                    </div>
                                </div>
                            </div>
                        </td>
                    <% end %>
                    <% if content_for?(:buttons) %>
                        <td class="p-0">
                            <%= render_slot(:buttons, record: record, value: record[:id]) %>
                        </td>
                    <% end %>
                </tr>
                <% if detail_active?(record) && content_for?(:detail) %>
                    <tr>
                        <td colspan="<%= columns.size + (content_for?(:detail) ? 1 : 0) %>">
                            <%= render_slot(:detail, record: record) %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    <%#
    < % if loading % >
    <lesli-loading></lesli-loading>
    < % elsif records.empty? % >
    <lesli-empty></lesli-empty>
    < % end % >
    < % if pagination % >
    <lesli-pagination :pagination="< %= pagination % >" data-action="paginate->table#paginate"></lesli-pagination>
    < % end % >
    %>
</div>
