<div class="lesli-table-container">
    <table id="<%= id %>" class="<%= table_classes %>">
        <% if caption.present? %>
            <caption class="sr-only"><%= caption %></caption>
        <% end %>

        <% unless headless %>
            <thead>
                <tr>
                    <% columns.each do |column| %>
                        <th
                            scope="col"
                            width="<%= column[:width] %>"
                            class="<%= column_class(column) %>">
                            <%= column[:label] %>
                        </th>
                    <% end %>
                </tr>
            </thead>
        <% end %>
        <tbody>
            <% if records %>
                <% records.each do |record| %>
                    <tr>
                        <% columns.each do |column| %>
                            <% value = value_for(record, column) %>
                            <td class="<%= class_names(column_class(column), "lesli-table__cell--linked": link.present?) %>">
                                <% if link %>
                                    <%= link_to(value || "", link.call(record), class: "lesli-table__link", data: { turbo_frame: "_top" }) %>
                                <% else %>
                                    <%= value %>
                                <% end %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
            <% rows.each do |row| %>
                <%= row %>
            <% end %>

            <% if empty? %>
                <tr>
                    <td class="lesli-table__empty" colspan="<%= [columns.size, 1].max %>">
                        <%= empty_text %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
