<style>
.tab-item {
    display: none; /* Hide all tab panes by default */
  }
  
  .tab-item:target {
    display: block; /* Show the tab pane that matches the URL fragment */
  }
  
  .tabs li a[href*="#"]:target {
    font-weight: bold; /* Style the active tab link */
    background-color: red;
  }
</style>
<div class="lesli-tabs">
    <div class="tabs">
        <ul>
            <% tabs.each_with_index do |tab, index| %>
                <li>
                    <a href="#<%= tab.tab_id || "tab-#{index}" %>" data-turbo="false">
                        <% if tab.icon %>
                            <span class="icon is-small">
                                <span class="material-icons">
                                    <%= tab.icon %>
                                </span>
                            </span>
                        <% end %>
                        <span><%= tab.title %></span>
                    </a>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="tab-items">
        <% tabs.each_with_index do |tab, index| %>
            <div
                id="<%= tab.tab_id || "tab-#{index}" %>"
                class="tab-item p-5">
                <%= tab %>
            </div>
        <% end %>
    </div>
</div>
