<div class="lesli-charts lesli-charts-bar box">
    <table class="charts-css column <%= "multiple data-spacing-15" unless @datasets.empty? %> show-heading show-labels">
        <caption><h5 class="is-size-5"><%= @title %></h5></caption>
        <thead>
            <tr>
                <th scope="col"> Year </th>
                <th scope="col"> Value </th>
            </tr>
        </thead>
        <tbody>
            <% @data.each_with_index do |data, index| %>
                <tr>
                    <th><%= @labels[index] %></th>
                    <td style="--size: calc( <%= data %> / 100 );"><%= data %></td>
                </tr>
            <% end %>
            <% @datasets.each do |dataset| %>
                <tr>
                    <th><%= dataset[:label] %></th>
                    <% dataset[:data].each_with_index do |data, index| %>
                        <td style="--size: calc( <%= data %> / 100 );"><%= data %></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% unless @datasets.empty? %>
        <ul class="charts-css legend legend-inline legend-square is-justify-content-space-between">
            <% @labels.each do |legend| %>
                <li><%= legend %></li>
            <% end %>
        </ul>
    <% end %>
</div>
