<%#

Lesli

Copyright (c) 2026, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by LesliTech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<li 
    id="<%= dom_id(@resource, @scope_key) %>"
    class="lesli-items-tasks-item is-flex mt-3 mb-3 <%= "lesli-items-tasks-task-done" if @resource.done %>">
    <%= form_with(
            url: helpers.polymorphic_path(@resource),
            method: :patch,
            scope: @scope_key,
            local: true
        ) do |form| %>
        <%= form.hidden_field :id, value: @resource.id %>
        <%= form.button type: "submit", disabled: @resource.done? do %>
            <p class="icon-text">
                <span class="icon">
                    <span class="material-symbols-outlined">
                        <%= @resource.done ? "check_box"  : "check_box_outline_blank" %>
                    </span>
                </span>
                <span><%= @resource.title %></span>
            </p>
        <% end %>
    <% end %>
</li>

